.header-bg {
  background-color: var(--cor-12);
  color: aliceblue;
}
.header {
  display: flex;
  flex-wrap: wrap; /*Para o elemento quebrar no responsivo*/
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* max-width: 1200px; virou componente
  box-sizing: border-box;  para somar o pedding com a largura maxima max-width
  margin-left: auto;
  margin-right: auto; */
}
.header-menu {
  display: flex;
  flex-wrap: wrap; /* Para o elemento quebrar no responsivo*/
  justify-content: center;
  gap: 40px;
}
.header-menu a {
  display: inline-block; /* Pq quando o elemento cair não vai ficar com o padding sertinho */
  padding: 16px 0px; /* area de contato */
  font-size: 18px;
  position: relative;  /* Realinhando ao centro */
  font-family: "Poppins";
  font-weight: 400;
}
.header-menu a:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--cor-0);
  display: block; 
  margin-top: 4px;
  transition: 0.3s;
  position: absolute; /* Realinhando ao centro */
}
.header-menu a:hover::after,
.header-menu a.ativo::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a{
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;  
  }
  .header-menu a:hover{ 
    background-color: var(--cor-10);
  }
  .header-menu a:after { 
    display: none;
  }
}
@media (max-width: 600px) { 
  .header-menu {
    gap: 12px;
  }
  .header-menu a{
    background: #111111;
    padding: 8px 12px;
    border-radius: 4px; 
    font-size: 14px; 
  }
}